# Virtual environments
venv/
.venv/
env/
ENV/
venvvenv/
thesis/
.thesis/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Logs and checkpoints
*.log
*.ckpt
*.h5
*.pth

# Jupyter / temporary files
.ipynb_checkpoints/
*.ipynb_checkpoints
*.tmp
*.bak

# macOS / Windows system files
.DS_Store
Thumbs.db

# VSCode / IDE settings
.vscode/
.idea/

# TensorBoard / training outputs
logs/
runs/


Olivarez_traci/additionals/e2_*
Balibago_traci/additionals/e2_*
Olivarez_traci/additionals/light_traffic_e2_*
Olivarez_traci/additionals/moderate_traffic_e2_*
Olivarez_traci/additionals/heavy_traffic_e2_*

Balibago/additionals/e2_*
Balibago/additionals/light_traffic_e2_*
Balibago/additionals/moderate_traffic_e2_*
Balibago/additionals/heavy_traffic_e2_*